<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>    
<body>
    <%- include('../partials/nav.ejs') %>
    <section class="container section-container">
        <h2>Welcome to my ejs home page</h2>
        <hr>
        <% if(trainees.length){ %>
            <% trainees.map((trainee)=>{ %>
                    <div class="section-mapped-data">
                        <a href="/todos/specific/<%= trainee._id %>">
                            <h1> <%= trainee.name %> </h1>
                            <!-- <h3> <%= trainee.profession %> </h3> -->
                            <!-- <h3> <%= trainee.description %> </h3> -->
                            <!-- <h3>  <%= trainee.address %> </h3> -->
                        </a>
                    </div>
           <% }) %>
           <% }else{ %>
            <h1>No trainees in town today</h1>
           <% } %>
    </section>
    <div class="container">
       <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>