<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>    
<body>
    <%- include('../partials/nav.ejs') %>
    <section class="container section-container">
        <h2>Welcome to my ejs home page</h2>
        <hr>
        <% if(trainees.length){ %>
            <% trainees.map((trainee)=>{ %>
                <div class="section-mapped-data">
                <h1> <%= trainee.name %> </h1>
                <h3> <%= trainee.profession %> </h3>
                </div>
           <% }) %>
           <% }else{ %>
            <h1>No trainees in town today</h1>
           <% } %>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>
</html>